body{
    background-color: tan;
}
.bigbox{
    font-family: Helvetica, sans-serif;
    background-color: white;
    align-items: column;
    text-align: center;
}


h1{
    color: red;
}
